# mongod.conf


# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /log/mongodb/mongod.log
  logRotate: reopen

# Where and how to store data.
storage:
  dbPath: /data/mongo
  directoryPerDB: true
  journal:
    enabled: true
#  engine:
#  mmapv1:
  wiredTiger:
   engineConfig: 
    directoryForIndexes: true

# how the process runs
processManagement:
  fork: true
  pidFilePath: /var/run/mongodb/mongod.pid

# network interfaces
net:
  port: 27017
  bindIp: 127.0.0.1, {% for host in groups['mongo_servers'] %} {{ hostvars[host]['ansible_' + iface].ipv4.address }} {% endfor %} # Listen to local interface only, comment to listen on all interfaces.

security:
  keyFile: /data/secret

#operationProfiling:

#replication:
#  replSetName: rs_{{ hostvars[inventory_hostname].mongod_farmname}}

#sharding:
